/* NAV */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  padding: 1rem; }

.header--inner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  background: #0d0d0d;
  color: #d9d9d9;
  text-transform: uppercase; }

@media screen and (max-width: 900px) {
  .header--menu {
    display: none; } }
