.hero {
  display: flex;
  background-color: #20565D;
  font-style: normal;
  font-weight: bold; }

.hero--inner-section {
  width: 1200px;
  margin: auto;
  padding: 3.9rem 0 3.9rem 0; }

.hero--text.-large {
  font-size: 2.5rem; }

.hero--text.-small {
  font-size: 1.5rem; }

.hero--text {
  margin-bottom: 1rem;
  color: #d9d9d9; }

@media screen and (max-width: 600px) {
  .hero {
    padding: 1rem;
    text-align: center; } }
